@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Beginning of CSS for chapter 6 letter */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* End of CSS for chapter 6 letter */

/* Beginning of CSS for song verse in chapter 16 */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}
/* End of CSS for song verse in chapter 16 */
